<section class="flex w-full space-x-3 p-5">
  <section class="w-1/2 border border-gray-400 space-y-3 rounded p-5">
    Create New Account!
    <div>
      <h1>Name:</h1>
      <input [(ngModel)]="userName" type="text" class="border border-gray-300 rounded" />
    </div>
    <div>
      <h1>Age:</h1>
      <input [(ngModel)]="userAge" type="number" class="border border-gray-300 rounded" />
    </div>
    <div class="space-x-3">
      <button
        [ngClass]="!userName || !userAge ? 'border' : 'bg-sky-400 text-white'"
        class="px-3 py-2 rounded"
        (click)="submitButton()"
      >
        Submit
      </button>
      <button class="px-3 py-2 rounded border" (click)="resetButton()">Reset</button>
    </div>
  </section>
  <section class="w-1/2 border border-gray-400 space-y-3 rounded p-5">
    <div *ngIf="users.length === 0">
      <h1 class="flex justify-center items-center text-gray-400 h-48">No Data Available</h1>
    </div>
    <div *ngIf="users.length > 0">
      <div *ngFor="let user of users; let i = index">
        <div class="space-y-3 w-full rounded border border-gray-200 p-3 mt-2">
          <h1>Name:{{ user.name }}</h1>
          <h1>
            Age:
            <span [ngClass]="(user.age ?? 0) < 18 ? 'text-red-500' : 'text-green-500'">{{
              user.age
            }}</span>
          </h1>
          <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="deleteButton(i)">
            Delete {{ user.name }}
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
